@page "/edit-appointment/{id:int}"
@* @page "/edit-appointment" *@
@rendermode InteractiveServer

@using DAS.Models
@using DAS.Components
@inject AppState AppState
@inject NavigationManager NavigationManager
@* @inject IJSRuntime JSRuntime *@
@inject UserService UserService


<h1>Edit Appointment</h1> 
@if(userId <= 0)
{
    <p>----------Please login to use this function----------------</p>
}
else
{
    //changeTrigger will default to today's date and if they don't match then we will update the available slots for the new day and update changeTrigger's value
    @if(changeTrigger != appointment.Date)
    {
        GetAvailableSlots();
        if(AvailableSlots.Any())
        {
            //Defaults to the first available time slot if there are any available time slots
            appointment.Time = AvailableSlots[0].Time;  
        }
        
        changeTrigger = appointment.Date;

    }

    <EditForm Model="@appointment" FormName="PatientEditAppointmentForm" disabled="@deleteWarningFlag"> 
        <DataAnnotationsValidator />
        <ValidationSummary />
        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-info">@message</div>
        }
        @if (deleteWarningFlag == true)
        {
            <div>
                <button @onclick="ProcessDeletePatientAppointment" disabled="@isFormDisabled">Yes</button>
                <button @onclick="@(() => { deleteWarningFlag = false; message = string.Empty; })" disabled="@isFormDisabled">No</button>
            </div>
        }

        <div>
            <label>Date:</label>
            <InputDate @bind-value="appointment.Date" disabled="@deleteWarningFlag" />
            <ValidationMessage For="@(() => appointment.Date)" />
        </div>

        <div>
            <label>Time:</label>
            <InputSelect @bind-value="appointment.Time" disabled="@deleteWarningFlag">
                @foreach(var slot in AvailableSlots)
                {
                    <option value="@slot.Time">@slot.Time</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => appointment.Time)" />
        </div>

        <div>
            <label>Appointment Set For:</label>
            <input value="@targetPatient" disabled />
            
        </div>

        <div>
            <label>Current Appointment Date</label>
            <input value="@oldAppointment.Date.ToString("MM/dd/yyyy")" disabled/>
        </div>

        <div>
           
            <label>Current Appointment Time:</label>
            <input value="@oldAppointment.Time"disabled/>
        </div>

        <div>
            <label>Name:</label>
            <InputSelect @bind-Value="appointment.PatientId" disabled="@deleteWarningFlag">
                <option value="">Select A Patient</option>
                @foreach (var p in patients)
                {
                    //hardcoded example for Albert Wesker profileid 1 patientId 1
                    //another acceptable test user is Cloud Strife profileid 3 patientId 5
                    @* @if (p.ProfileId == 1 || p.PatientId == 1) *@
                    @if(p.ProfileId == userId)
                    {
                        <option value="@p.PatientId">@p.FirstName @p.LastName</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => appointment.PatientId)" />
        </div>

        <button type="submit" @onclick="HandleValidSubmit" disabled="@deleteWarningFlag">Submit</button>
        <button @onclick="@(() => { deleteWarningFlag = true; message = deleteWarningMessage; })" disabled="@deleteWarningFlag">Delete</button>
    </EditForm>

    //dynamic visual aid to help see what times are available
    <section>
        <h2>Available Appointments On: @appointment.Date.ToString("MM/dd/yyyy")</h2>
        @if(AvailableSlots.Count == 0)
        {
            <p>----- Please Select A Different Day -----</p>
        }
        else
        {
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Available Slots</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (var slot in AvailableSlots)
                        {
    
                            @if(slot.AvailableCount>0)
                            {
                                <tr>
                                    <td>@slot.Time</td>
                                    <td>@slot.AvailableCount</td>
                                </tr>
                            }

                            
                        }
                    </tbody>
                </table>
            </div>
        }
    </section>
}



@code {

    private DateTime changeTrigger = DateTime.Now;

    //Creating appointment slots class
    public class AppointmentSlot
    {
        public string Time { get; set; } = string.Empty;
        public int AvailableCount { get; set; }
    }

    private List<AppointmentSlot> AvailableSlots {get; set;} = new List<AppointmentSlot>();

    private DateTime todayDate = DateTime.Today; // this will default to today
    @* private TimeSpan targetTime = DateTime.Now.TimeOfDay;  *@






    //Structure of the form
    private Appointment appointment = new Appointment
    {
            PatientId = -1, // default part to check to see if user is logged in or not
            Name = "FirstName LastName",
            Date = DateTime.Now,
            Time = "7:00 PM",
            Status = "Pending",
            AppointSetterId = -1 //default part of check to see if user is logged in

    };

    [Parameter]
    public int id {get; set;}
    private string? message;
    @* int appointmentID; *@
    int userId = -1;
    bool deleteWarningFlag = false;
    
    //This is a flag to disable the form if the appointment is deleted
    bool isFormDisabled = false;
    


    string? targetPatient;
    private List<Patient> patients = [];
    
    //This will start holding placeholder data but will be edited when the target appointment is loaded.
    private Appointment oldAppointment = new Appointment
     {
        PatientId = -1, // default part to check to see if user is logged in or not
        Name = "FirstName LastName",
        Date = DateTime.Now,
        Time = "7:00 PM",
        Status = "Pending",
        AppointSetterId = -1 //default part of check to see if user is logged in


    };

    //testing purposes
    @* bool dataLoadedFlag = false; *@
    private string deleteWarningMessage = $"Are you sure you want to delete this appointment? (If you click yes, this will permanently delete the appointment)";
    
    @* protected override async Task OnInitializedAsync() *@
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {


            //Loading up the lists from the DB
            await AppState.LoadListsAsync();
            patients = AppState.Patients ;

            //note this is hardcoded for albert wesker profileid 1
            //userId = 1;
            //note another hardcoded example can be Cloud Strife profileid 3
            //userId = 8;
            //find the current user creds
            var foundUser = await UserService.GetLoggedInUser();
            if(foundUser != null )
            {
                userId = foundUser.UserId;
            }
            else
            {
                return;
            }

            var foundAppointment = await AppState.GetAppointmentById(id , userId);
            if(foundAppointment != null)
            {
                appointment = foundAppointment;
                
                targetPatient = appointment.Name;

                //This will retain appointment info before it gets changed.
                oldAppointment = new Appointment
                {
                    PatientId = foundAppointment.PatientId,
                    Name = foundAppointment.Name,
                    Date = foundAppointment.Date,
                    Time = foundAppointment.Time,
                    Status = foundAppointment.Status,
                    AppointSetterId = foundAppointment.AppointSetterId
                };

                //set the first changeTrigger value to the foundAppointment Date
                @* changeTrigger = foundAppointment.Date; *@
                Console.WriteLine($"changeTrigger/appointment.date/oldAppointment.date {changeTrigger}.... {appointment.Date} .... {oldAppointment.Date}");
                StateHasChanged();
                Console.WriteLine($"afterrrrrrrrrrrrrr state change ******************changeTrigger/appointment.date/oldAppointment.date {changeTrigger}.... {appointment.Date} .... {oldAppointment.Date}");

            }
            else
            {
                message = "Could not find appointment...";
            }
        }
        
    }

    // OnAfterRenderAsnc(bool firstRender) goes here
    
    


    @* private async Task HandleValidSubmit() *@
    private async Task HandleValidSubmit()
    {
        // Logic for handling form submission goes here
        @* return Task.CompletedTask; // Return a completed task *@
        @* message = "Appointment Successfully updated.";  *@
        await SubmitEditPatientAppointment(appointment);
    }

    //This will prep the edited appointment and then send it off
    private async Task SubmitEditPatientAppointment(Appointment editedAppointment)
    {
        

        // Implement edit logic here

        //hardcoded example for albert wesker profileid NOTE: this will be changed
        @* appointment.AppointSetterId = 1; *@

        
        // This will get a Patient object and assign to selectedPatient
        var selectedPatient =  patients.FirstOrDefault(p => p.PatientId == editedAppointment.PatientId);

        //This will check to make sure there is a valid patient that was selected
        if(selectedPatient != null)
        {
            //This will assign the name who the appointment is for
            editedAppointment.Name = $"{selectedPatient.FirstName} {selectedPatient.LastName}";
            
            @* Console.WriteLine($"This is in the PatientEditAppointmentForm...........................\n{editedAppointment.AppointmentId} {editedAppointment.Name} {editedAppointment.AppointSetterId} {editedAppointment.Time}!!!!!!!!!!!!"); *@
            
            
            
            
            //This will take in the "id" that was a route parameter, the user's id (in testing it is hardcoded for Albert wesker profileId 1), and the appointment
            var editedAppointmentToDb = await AppState.EditAppointment(id,userId,editedAppointment);
            //testing line
            //var addNewAppointmentToDb = true;


            if(editedAppointmentToDb == true)
            {
                //updates AppState to reflect changes
                GetAvailableSlots();
                StateHasChanged();
                
                @* await HandleValidSubmit(); *@
                message = $"Appointment updated successfully! \nPrevious Appointment Info: {oldAppointment.Name} {oldAppointment.Date.ToString("MM-dd-yyyy")} {oldAppointment.Time} \nUpdated Appointment Info: {editedAppointment.Name} {editedAppointment.Date} {editedAppointment.Time} ";
                //This will replace the previous data in OldAppointment now that we don't need it anymore since it was displayed.
                oldAppointment = new Appointment
                {
                    PatientId = editedAppointment.PatientId,
                    Name = editedAppointment.Name,
                    Date = editedAppointment.Date,
                    Time = editedAppointment.Time,
                    Status = editedAppointment.Status,
                    AppointSetterId = editedAppointment.AppointSetterId
                };

                targetPatient = editedAppointment.Name;

            }
            else
            {
                //error message will be displayed 
                message = "Something went wrong.  Appointment Update Canceled. Try again later or try scheduling an appointment for a different time and/or date.";
                @* Console.WriteLine(message); *@
            }
        }
        //if there wasn't a valid patient selected it will display a specific error message
        else
        {
            message = "Please select a patient for an appointment you are trying to edit.";
        }
        


    }// end of SubmitEditPatientAppointment


    private async Task ProcessDeletePatientAppointment()
    {
       var deletionCompleted = await AppState.DeletePatientAppointment(appointment.AppointmentId);
        deleteWarningFlag = false;

        // test if the deletion succeeded
        @* var deletionCompleted = true; *@

        //test if the deletion failed
        @* var deletionCompleted = false; *@

       if (deletionCompleted == true)
       {
            message = "Appointment Deleted Successfully.  Returning to Dashboard";
            isFormDisabled = true;
            await Task.Delay(2000);
            //This is for testing to see if the navigation will redirect after it is completed
            //This worked
            NavigationManager.NavigateTo("/dashboard");
       }
       else
       {
            message = "Something went wrong.  Deletion Operation canceled";
            
       }


    }// end of ProcessDeletePatientAppointment


    private void GetAvailableSlots()
    {
        message ="";
        AvailableSlots.Clear(); // this will clear out the available slots list when the day changes

        var currentDay = AppState.mountainTimeNow;
        
        var chosenDay = appointment.Date;
        List<Appointment> dayAppointments = new List<Appointment>();

        //This is a check to ensure that no past appointments are able to be seen as available
        //If the chosenDay is in the past compared to today...
        if(chosenDay.Date < currentDay.Date)
        {
            message = "Please select today's date or a future date";
            return;

        }
        // This will handle the same day appointments
        else if(chosenDay.ToString("MM/dd/yyyy") == currentDay.ToString("MM/dd/yyyy"))
        {
            var currentTime = AppState.mountainTimeNow.Hour;
            dayAppointments = AppState.Appointments.Where(a => a.Date.ToString("MM/dd/yyyy") == chosenDay.ToString("MM/dd/yyyy")).ToList();

            for (int hour = 0; hour <24; hour++)
            {
                string time = DateTime.Today.AddHours(hour).ToString("h:mm tt");
                //Console.WriteLine($"***********************************************Here is currentTime on same day ==== {currentTime}");
                int numOfSchedAppoints = dayAppointments.Count(a => a.Time == time);


                //Only will show relevant hours that are available same-day and not hours that have passed
                if(numOfSchedAppoints < 2 && hour > currentTime)
                {
                    AvailableSlots.Add(new AppointmentSlot {Time = time, 
                    AvailableCount = 2 - numOfSchedAppoints});
                
                }
                StateHasChanged();

            }
        }
        //This will handle all future days
        else
        {
            dayAppointments = AppState.Appointments.Where(a => a.Date.ToString("MM/dd/yyyy") == chosenDay.ToString("MM/dd/yyyy")).ToList();

        
            for (int hour = 0; hour <24; hour++)
            {
                string time = DateTime.Today.AddHours(hour).ToString("h:mm tt");
                int numOfSchedAppoints = dayAppointments.Count(a => a.Time == time);

                Console.WriteLine($"???????? --------------------# of appointments scheduled at time: {time} / {hour} is = {numOfSchedAppoints} ");


                if(numOfSchedAppoints < 2)
                {
                    AvailableSlots.Add(new AppointmentSlot {Time = time, 
                    AvailableCount = 2 - numOfSchedAppoints});
                
                }
                StateHasChanged();

            }
        }



    } // end of GetAvailableSlots function







}